<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js" ></script>
</head>
<body style="background-color: #1E9FFF;">
    <div class="login_trap">
        <div class="login_box">
            <div class="layui-form">
                <!--标题-->
                <div class="layui-form-item" style="color:gray;">
                    <h2>后台管理系统</h2>
                </div>
                <hr>
                <!--用户名-->
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" id="username" class="layui-input">
                    </div>
                </div>
                <!--密码-->
                <div class="layui-form-item">
                    <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <div class="layui-input-block">
                        <input type="password" id="password" class="layui-input">
                    </div>
                </div>
                <!--验证码-->
                <div class="layui-form-item">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="verifycode" class="layui-input">
                    </div>
                    <img src="{:captcha_src()}" id="img" onclick="reloadImg()">
                </div>
                <!--提交-->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" onclick="dologin()">登录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        layui.use(['layer'],function(){
            $ = layui.jquery;
            layer = layui.layer;

            // 用户名控件获取焦点
            $('#username').focus() ;
            // 回车登录
            $('input').keydown(function(e){
                if(e.keyCode == 13){
                    dologin();
                }
            });
        });

        // 重新生成验证码
        function reloadImg(){
            $('#img').attr('src','{:captcha_src()}?rand='+Math.random());
        }

        // 登录
        function dologin(){
            var username = $.trim($('#username').val());
            var pwd = $.trim($('#password').val());
            var verifycode = $.trim($('#verifycode').val());
            if(username == ''){
                layer.alert('请输入用户名',{icon:2});
                return;
            }
            if(pwd == ''){
                layer.alert('请输入密码',{icon:2});
                return;
            }
            if(verifycode==''){
                layer.alert('请输入验证码',{icon:2});
                return;
            }
            //ajax提交到后台
            $.post('/admins.php/admins/Account/dologin',{'username':username,'pwd':pwd,'verifycode':verifycode},function(res){
                if(res.code>0){
                    reloadImg();
                    layer.alert(res.msg,{icon:2});
                }else{
                    layer.msg(res.msg);
                    setTimeout(function(){window.location.href = '/admins.php/admins/Home/index'},1000);
                }
            },'json');
        }
    </script>
</body>
</html>